<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ASMBRobot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ASMBRobot urdf file -->
    <xacro:include filename="$(find assembly_robot)/urdf/asmb_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ASMBRobot.ros2_control.xacro" />


    <xacro:ASMBRobot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
