<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="asmb_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import asmb_robot urdf file -->
    <xacro:include filename="$(find assembly_robot)/urdf/asmb_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="asmb_robot.ros2_control.xacro" />


    <xacro:asmb_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
